#my-shoe-card1 > .card-img-top{
    height: 191px;
}

#my-shoe-card2 > .card-img-top{
    height: 191px;
}

#my-shoe-card5 > .card-img-top{
    height: 202px;
}

#my-shoe-card6 > .card-img-top{
    height: 202px;
}